<footer class="bg-dark text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>AZZAHRASHOP</h5>
                <p>Belanja online terpercaya dengan berbagai produk berkualitas.</p>
            </div>
            <div class="col-md-4">
                <h5>Link Cepat</h5>
                <ul class="list-unstyled">
                    <li><a href="/products" class="text-light">Produk</a></li>
                    <li><a href="/cs" class="text-light">Customer Service</a></li>
                    <li><a href="/register" class="text-light">Daftar</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Kontak</h5>
                <p>Email: support@azzahrashop.com</p>
                <p>Phone: 0812-3456-7890</p>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; 2023 AZZAHRASHOP. All rights reserved.</p>
        </div>
    </div>
</footer>
