<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">AZZAHRASHOP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Produk</a>
                    </li>
                    <% if (user) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">Keranjang</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cs">Customer Service</a>
                        </li>
                        <% if (user.role === 'admin') { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Dashboard Admin</a>
                            </li>
                        <% } else if (user.role === 'seller') { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/seller">Dashboard Penjual</a>
                            </li>
                        <% } else if (user.role === 'buyer') { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/buyer">Dashboard Pembeli</a>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
                <ul class="navbar-nav">
                    <% if (user) { %>
                        <li class="nav-item">
                            <span class="navbar-text">Halo, <%= user.username %>!</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Daftar</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>
